.order {
  position: absolute;
  margin-top: 330px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  z-index: 10;
  width: inherit;
  height: 230px;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
  &-item {
    margin: 5px 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    &-img {
      border-radius: 10px;
      width: 50px;
      height: 50px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 5px;
      &-price {
        height: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &-title {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        color: #000000;
        width: 100px;
        @include line-text-overflow;
      }
      &-price {
        font-size: 10px;
        color: #706d71;
      }
    }
  }
}

.mask{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}
